@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
}

.wrapper {
	overflow: hidden;
}

.sliding-background {
	background: url("assets/slide.svg") repeat-x;
	height: 81px;
	width: 4568.46px;
	animation: slide 60s linear infinite;
  }
  
  @keyframes slide{
	0%{
	  transform: translate3d(0, 0, 0);
	}
	100%{
	  transform: translate3d(-1522.82px, 0, 0);
	}
  }

#page-intro {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #CF623F;
    background-image: url("assets/Header-Img.svg");
}

#vis-container {
	width:            80%;
	margin:           auto;
	margin-top:       15px;
	padding:          7px 0px 30px 0px;
	background-color: #ffffff;
	border-radius:    8px;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.05rem;
	font-weight: 400;
	line-height: 152%;
}

h1 {
	font-family: 'Marcellus', serif;
	font-size: 3.5rem;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	z-index: 6;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 1.5rem;
	font-weight: 600;
	color: #CF623F;
	padding-top: 30px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 1.5rem;
	font-weight: 600;
	color: #63B0DC;
	padding-top: 30px;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 1.1rem;
	font-weight: 600;
}

h6 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 1.5rem;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}

.final-header {
	font-family: 'Marcellus', serif;
	text-align: left;
	font-size: 1.85rem;
	font-weight: 600;
	color: #CF623F;
	padding-top: 30px;
}

.center-intro {
	width: 100%;
}

#button {
	font-size: 3rem;
	top: 1s ease-in-out infinite;
	margin-top: 30px;
}

a:hover {
	color: #EBDFCF;
}

a {
	color: #1A191C;
	text-decoration: none;
}

.tick>text {
	font-size: 0.8em;
	line-height: 120%;
}

* {
	font-family: 'Work Sans', sans-serif;
}

.pairDisp {
	display: inline-block; 
	width: 49%; 
	overflow: hidden; 
	
}

#text-container-intro {
	width:            56%;
	margin:           auto;
	padding:          20px 20px 60px 20px;
}

#text-container {
	width:            56%;
	margin:           auto;
	margin-top:       20px;
	padding:          10px 20px 50px 20px;
}

#text-container-brian-viz {
	width:            56%;
	margin:           auto;
	margin-top:       20px;
	padding:          10px 20px 50px 20px;
}

#text-container-end {
	width:            56%;
	margin:           auto;
	padding:          10px 20px 60px 20px;
}

#beg-of-history {
	font-family: "Montserrat", sans-serif;
}

#brown 
{
	background-color: #F7F2EC;
}

#article-content {
	background-color: white;
}

.link {
	font-weight: 600;
	color: #CF623F;
}

ul {
	line-height: 152%;
}

.highlight-char {
	background-color: #E9C8C9;
}

.link:hover {
	color: #E9C8C9;
	text-decoration: wavy underline;
}

.wu-link {
	font-weight: 600;
	color: #CF623F;
}

.wu-link:hover {
	color: #EBDFCF;
	text-decoration: wavy underline;
}

.famous_ppl_list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	padding: 0;
	list-style: none;
}

.famous_ppl_name_ch {
	margin: 0;
	font-weight: 700;
	text-align: center;
}

#char_select {
	max-width: 100%;
}

.caption {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 150%;
}

#write-up {
	padding-top: 40px;
	background-color: black;
}

.write-up-font {
	color: white;
}

.unbold {
	font-weight: 400;
}

.era-img {
	max-width: 100%;
}

/* Custom Cursor */

html,
html *,
body,
body * {
cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
pointer-events: none;
position: absolute;
top: 50%;
left: 50%;
border-radius: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
-webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cursor-dot {
width: 4px;
height: 4px;
background-color: #5A1600;
}

.cursor-dot-outline {
width: 28px;
height: 28px;
background-color: #5A160030;
opacity: 20;
}

.cursor-dot,
.cursor-dot-outline {
  z-index:999999;
}